@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  font-family: "VT323", monospace;
}

body {
  font-family: system-ui, sans-serif;
  margin: 20px;
  background-color: #161716;
  color: #fff;
}

textarea,
input,
select {
  width: 100%;
  font-family: ui-monospace, SFMono-Regular, monospace;
}

textarea:focus {
  outline: none;
}

#test-results,
pre {
  font-size: 24px;
  background-color: #272827;
  margin: 0;
  color: #eee;
  padding: 10px;
  overflow: auto;
  min-height: 30px;
}

.test-result {
  padding: 8px;
  cursor: pointer;
  display: flex;
  gap: 6px;

  &:hover {
    background-color: #1e1e1e;
  }

  span {
    display: inline-block;
  }

  &.test-pass > span.test-status {
    color: #51ac67;
  }

  &.test-fail > span.test-status {
    color: #ff4b4b;
  }
}

.row {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.challenge-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  padding: 8px 12px;
  background-color: #272827;
  color: white;
}

select {
  height: 40px;
  background-color: #272827;
  color: #fff;
}

.input-div {
  width: 100%;
  height: 148px;

  textarea {
    font-family: "VT323", monospace;
    font-size: 36px;
    height: 100%;
    background-color: #172620;
    color: #69d483;
    &::placeholder {
      color: #489a5c;
    }
    box-shadow:
      0 0 2px #69d483,
      0 0 4px #69d483,
      0 0 16px #69d48366;
    text-shadow:
      0 0 2px #69d483,
      0 0 20px #69d483,
      0 0 10px #69d483;
    border: none;
    padding: 12px;
    box-sizing: border-box;
    resize: none;
  }

  div {
    position: relative;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: -148px;
  }
}

.scanlines {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(128, 128, 128, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 100%
  );
  background-size: 100% 6px;
  width: 100%;
  height: 100%;

  animation: move-scanlines 60s linear infinite;
  z-index: 20;
}

@keyframes move-scanlines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
